<div class="container">
    <!-- <form (ngSubmit)="OnSubmit()" #form="ngForm"> -->
    <form (ngSubmit)="OnSubmit(form)" #form="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input type="text" class="form-control" #FirstName="ngModel" ngModel name="FirstName" required
                        minlength="3" maxlength="20" id="FirstName" aria-describedby="helpId" placeholder="First Name">
                    <!-- <small id="helpId" class="alert alert-danger" *ngIf="FirstName.invalid && FirstName.dirty">Enter
                        First Name</small> -->
                    <small id="helpId" class="alert alert-danger"
                        *ngIf="FirstName.errors?.required && FirstName.dirty">Enter
                        First Name</small>
                    <small id="helpId" class="alert alert-danger"
                        *ngIf="FirstName.errors?.minlength">Minimum 3 characters required</small>
        
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input type="text" class="form-control" required name="LastName" #LastName="ngModel" ngModel
                        id="LastName" aria-describedby="helpId" placeholder="Last Name">
                    <small id="helpId" class="alert alert-danger" *ngIf="LastName.invalid && LastName.dirty">Enter Last
                        Name</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="EmailId">Email Id</label>
                    <input type="email" class="form-control" requried email name="EmailId" #EmailId="ngModel" ngModel
                        id="EmailId" aria-describedby="emailHelpId" placeholder="Email Id">
                    <small id="helpId" class="alert alert-danger" *ngIf="EmailId.invalid && EmailId.dirty">Enter Email
                        Id</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="MobileNo">Mobile No</label>
                    <input type="text" class="form-control" name="MobileNo" ngModel id="MobileNo"
                        aria-describedby="helpId" placeholder="Mobile No">
                    <small id="helpId" class="form-text text-muted">Mobile No</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" name="Password" required ngModel #Password="ngModel"
                        id="Password" placeholder="Password">
                    <small id="helpId" class="alert alert-danger" *ngIf="Password.invalid && Password.dirty">Enter
                        Password</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="ConfirmPassword" required
                        #ConfirmPassword="ngModel" ngModel id="ConfirmPassword" placeholder="Confirm Password">
                    <small id="helpId" class="alert alert-danger" *ngIf="Password.invalid && Password.dirty">Enter
                        Password</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="Address">Address</label>
                  <textarea class="form-control" name="Address" id="Address" ngModel rows="3"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>