<div class="container">
    <h3>Products List</h3>

    <div basic-highlight>Basic Highlight Examples</div>
    <!-- <div better-highlight highlightColor="chartreuse" test="yellow">Better Highlight Examples</div> -->
    <div [better-highlight]="'yellow'" highlightColor="chartreuse">Better Highlight Examples</div>
    <div class="row">
        <div class="col-md-1">
            Filter:
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filterText">
            </div>
        </div>
        <div class="col-md-3">
            <!-- <div *ngIf="filterText.length>0" class="alert alert-info" role="alert">
                <strong>{{filterText}}</strong>
            </div> -->
            <div *unless="filterText.length==0" class="alert alert-info" role="alert">
                <strong>{{filterText}}</strong>
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" (click)="TestPipe()">Test Pipe</button>
        </div>
    </div>

    <div class="row">
        <!-- <div *ngFor="let prod of products" style="margin-bottom: 10px;" class="col-md-4">
        <product-thumbnail [pd]="prod" (pde)="ReceivedFromChild($event)" >

        </product-thumbnail> 
    </div> -->

        <product-thumbnail *ngFor="let prod of products | filter: filterText" style="margin-bottom: 10px;"
            class="col-md-3" [pd]="prod" (pde)="ReceivedFromChild($event)">

        </product-thumbnail>

    </div>
    <ng-content>

    </ng-content>
</div>